# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/
build/
dist/

# Environment variables
.env
.flaskenv

# Database & Logs
*.log
*.sqlite3