@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import "tailwindcss";

body {
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", sans-serif;
}